# ATRI rev B pinout, as of 8/16/2011
#
# This includes the TDA trigger remapping to align to DDA numbering scheme,
# and the idiotic SDA/SCL swap being fixed.
#
NET "D2RD<7>" LOC = "G7" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2RAMP" LOC = "H8" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2WR<3>" LOC = "G8" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2RD<8>" LOC = "F7" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2RD<4>" LOC = "F6" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2START" LOC = "C3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2TSA_CLOSE" LOC = "B3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2SMP<4>" LOC = "G6" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2CH<0>" LOC = "F5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2WR<0>" LOC = "E6" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2RD<5>" LOC = "E5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2RD<3>" LOC = "H9" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2WR<2>" LOC = "G9" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2RDEN" LOC = "A3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2CLR" LOC = "A2" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "CRSV0_P" LOC = "F9" |IOSTANDARD = LVDS_25;
NET "CRSV0_N" LOC = "E8" |IOSTANDARD = LVDS_25;
NET "D1DRSV_P<1>" LOC = "D5" |IOSTANDARD = LVDS_25;
NET "D1DRSV_N<1>" LOC = "C5" |IOSTANDARD = LVDS_25;
NET "D1DRSV_P<2>" LOC = "H10" |IOSTANDARD = LVDS_25;
NET "D1DRSV_N<2>" LOC = "G10" |IOSTANDARD = LVDS_25;
NET "D2RD<2>" LOC = "B4" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2RD<1>" LOC = "A4" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2RD<0>" LOC = "B5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2WR<1>" LOC = "A5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2DRSV_P<0>" LOC = "F10" |IOSTANDARD = LVDS_25;
NET "D2DRSV_N<0>" LOC = "E10" |IOSTANDARD = LVDS_25;
NET "D2DRSV_P<1>" LOC = "G12" |IOSTANDARD = LVDS_25;
NET "D2DRSV_N<1>" LOC = "F11" |IOSTANDARD = LVDS_25;
NET "D2DRSV_P<2>" LOC = "F12" |IOSTANDARD = LVDS_25;
NET "D2DRSV_N<2>" LOC = "E12" |IOSTANDARD = LVDS_25;
NET "D3CRSV_P<2>" LOC = "H12" |IOSTANDARD = LVDS_25;
NET "D3CRSV_N<2>" LOC = "G13" |IOSTANDARD = LVDS_25;
NET "FPGA_REFCLK_P" LOC = "E13" |IOSTANDARD = LVDS_25;
NET "FPGA_REFCLK_N" LOC = "D13" |IOSTANDARD = LVDS_25;
NET "D2DAT<4>" LOC = "J11" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2WRSTRB" LOC = "G11" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2TSA" LOC = "C13"|IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3TSAOUT" LOC = "A13"|IOSTANDARD = LVCMOS18;
NET "D2TSTOUT" LOC = "B12"|IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2TSAOUT" LOC = "A12"|IOSTANDARD = LVCMOS18;
NET "D3TRG_P<5>" LOC = "B14" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3TRG_N<5>" LOC = "A14" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3CRSV_P<1>" LOC = "K12" |IOSTANDARD = LVDS_25;
NET "D3CRSV_N<1>" LOC = "J12" |IOSTANDARD = LVDS_25;
NET "D3DRSV_P<0>" LOC = "J13" |IOSTANDARD = LVDS_25;
NET "D3DRSV_N<0>" LOC = "H13" |IOSTANDARD = LVDS_25;
NET "D3DRSV_P<1>" LOC = "F14" |IOSTANDARD = LVDS_25;
NET "D3DRSV_N<1>" LOC = "E14" |IOSTANDARD = LVDS_25;
NET "D3DRSV_P<2>" LOC = "K14" |IOSTANDARD = LVDS_25;
NET "D3DRSV_N<2>" LOC = "H14" |IOSTANDARD = LVDS_25;
NET "D3TRG_P<3>" LOC = "C21" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3TRG_N<3>" LOC = "B21" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3DAT<0>" LOC = "J16" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3DAT<1>" LOC = "J17" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4DRSV_P<0>" LOC = "F16" |IOSTANDARD = LVDS_25;
NET "D4DRSV_N<0>" LOC = "E16" |IOSTANDARD = LVDS_25;
NET "D4DRSV_P<1>" LOC = "G15" |IOSTANDARD = LVDS_25;
NET "D4DRSV_N<1>" LOC = "F15" |IOSTANDARD = LVDS_25;
NET "D4DRSV_P<2>" LOC = "F18" |IOSTANDARD = LVDS_25;
NET "D4DRSV_N<2>" LOC = "E18" |IOSTANDARD = LVDS_25;
NET "D3TRG_P<7>" LOC = "G16" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3TRG_N<7>" LOC = "F17" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3TRG_P<0>" LOC = "J15" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3TRG_N<0>" LOC = "H15" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3TRG_P<1>" LOC = "D21" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3TRG_N<1>" LOC = "D22" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3TRG_P<4>" LOC = "B22" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3TRG_N<4>" LOC = "A22" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3TRG_P<6>" LOC = "G19" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3TRG_N<6>" LOC = "F19" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3TRG_P<2>" LOC = "F20" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3TRG_N<2>" LOC = "E20" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D3DAT<2>" LOC = "H17" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3DAT<5>" LOC = "H18" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3DAT<7>" LOC = "H19" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3TSA_CLOSE" LOC = "B23" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3TSA" LOC = "A23" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2DAT<0>" LOC = "M4" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1WRSTRB" LOC = "N3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1TSA_CLOSE" LOC = "N2" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1TSA" LOC = "N1" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2DAT<2>" LOC = "M3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1RAMP" LOC = "M1" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2TRG_P<7>" LOC = "L2" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_N<7>" LOC = "L1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_P<5>" LOC = "K3" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_N<5>" LOC = "K1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_P<3>" LOC = "H3" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_N<3>" LOC = "H1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_P<1>" LOC = "E2" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_N<1>" LOC = "E1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_P<6>" LOC = "G2" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_N<6>" LOC = "G1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_P<4>" LOC = "F3" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_N<4>" LOC = "F1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_P<2>" LOC = "D3" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_N<2>" LOC = "D1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_P<0>" LOC = "J2" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2TRG_N<0>" LOC = "J1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D2CRSV_P<2>" LOC = "J4" |IOSTANDARD = LVDS_25;
NET "D2CRSV_N<2>" LOC = "J3" |IOSTANDARD = LVDS_25;
NET "D2CRSV_P<1>" LOC = "L4" |IOSTANDARD = LVDS_25;
NET "D2CRSV_N<1>" LOC = "L3" |IOSTANDARD = LVDS_25;
NET "D2WR<9>" LOC = "L9" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2DAT<5>" LOC = "L8" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2DAT<3>" LOC = "M8" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2DAT<1>" LOC = "M6" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2DAT<10>" LOC = "K5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2CH<1>" LOC = "J5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2DAT<9>" LOC = "L7" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2DAT<7>" LOC = "L6" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2RD<6>" LOC = "B2" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2WR<8>" LOC = "B1" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2DAT<6>" LOC = "L10" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2SMP<0>" LOC = "K10" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2SMP<3>" LOC = "G4" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2SMP<2>" LOC = "G3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2SMPALL" LOC = "J9" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2CH<2>" LOC = "J7" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2WR<7>" LOC = "C2" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2WR<6>" LOC = "C1" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2RD<9>" LOC = "K9" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2SMP<5>" LOC = "K8" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2WR<4>" LOC = "E4" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2WR<5>" LOC = "E3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2DAT<8>" LOC = "K7" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2ARSV<0>" LOC = "K6" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2DAT<11>" LOC = "H6" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D2SMP<1>" LOC = "H5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4DAT<9>" LOC = "N17" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4DAT<8>" LOC = "N18" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4DAT<0>" LOC = "L23" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4DAT<1>" LOC = "L24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4TRG_P<1>" LOC = "P21" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_N<1>" LOC = "P22" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_P<5>" LOC = "N21" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_N<5>" LOC = "N22" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_P<3>" LOC = "N19" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_N<3>" LOC = "N20" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_P<2>" LOC = "R20" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_N<2>" LOC = "R21" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_P<0>" LOC = "N23" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_N<0>" LOC = "N24" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_P<7>" LOC = "P24" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_N<7>" LOC = "P26" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_P<4>" LOC = "R23" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_N<4>" LOC = "R24" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_P<6>" LOC = "R25" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4TRG_N<6>" LOC = "R26" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D4CRSV_P<2>" LOC = "M18" |IOSTANDARD = LVDS_25;
NET "D4CRSV_N<2>" LOC = "M19" |IOSTANDARD = LVDS_25;
#
NET "D4DAT<10>" LOC = "P17" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4DAT<11>" LOC = "P19" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4CH<1>" LOC = "R18" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4CH<2>" LOC = "R19" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4SMP<5>" LOC = "T22" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4WR<7>" LOC = "T23" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4TSAOUT" LOC = "U23" |IOSTANDARD = LVCMOS18;
NET "D4WR<4>" LOC = "U24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4RD<5>" LOC = "V23" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4RD<4>" LOC = "W24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4WR<9>" LOC = "U25" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4SMP<4>" LOC = "U26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4CH<0>" LOC = "T24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4SMPALL" LOC = "T26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4WR<6>" LOC = "V24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4RD<7>" LOC = "V26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4RD<9>" LOC = "W25" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4TSA" LOC = "W26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4RD<3>" LOC = "AA25" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4RDEN" LOC = "AA26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4WR<3>" LOC = "AD24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4WR<0>" LOC = "AD26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4ARSV<0>" LOC = "AB24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4RD<2>" LOC = "AB26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4TSA_CLOSE" LOC = "AC25" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4RD<0>" LOC = "AC26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4TSTOUT" LOC = "Y24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4START" LOC = "Y26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4WR<2>" LOC = "AE25" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4WR<1>" LOC = "AE26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4WR<5>" LOC = "U21" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4WR<8>" LOC = "U22" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4SMP<0>" LOC = "T19" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4SMP<1>" LOC = "T20" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4RD<1>" LOC = "AA23" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4CLR" LOC = "AA24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4SMP<3>" LOC = "U19" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4SMP<2>" LOC = "U20" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4RD<8>" LOC = "V20" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4RD<6>" LOC = "V21" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4RAMP" LOC = "AC23" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4WRSTRB" LOC = "AC24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3DAT<3>" LOC = "H20" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3DAT<4>" LOC = "G20" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3DAT<10>" LOC = "B24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3DAT<11>" LOC = "A25" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3TSTOUT" LOC = "K18" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3ARSV<0>" LOC = "K19" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3CH<0>" LOC = "D23" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3SMPALL" LOC = "C24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3DAT<8>" LOC = "H21" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3WR<4>" LOC = "H22" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3DAT<9>" LOC = "F22" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3SMP<1>" LOC = "G23" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3DAT<6>" LOC = "J20" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3WR<5>" LOC = "J22" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3CH<2>" LOC = "E23" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3START" LOC = "E24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3RD<7>" LOC = "L19" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3WR<6>" LOC = "K20" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3SMP<4>" LOC = "C25" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3WR<7>" LOC = "C26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3SMP<2>" LOC = "B25" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3SMP<3>" LOC = "B26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3SMP<5>" LOC = "K21" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3RD<4>" LOC = "K22" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3SMP<0>" LOC = "F23" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3RDEN" LOC = "G24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3WR<9>" LOC = "J23" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3RD<2>" LOC = "J24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3RD<8>" LOC = "E25" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3RD<9>" LOC = "E26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3CH<1>" LOC = "D24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3WR<8>" LOC = "D26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3CLR" LOC = "F24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3RD<1>" LOC = "F26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3RD<3>" LOC = "H24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3WR<0>" LOC = "H26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3RD<0>" LOC = "G25" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3RAMP" LOC = "G26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3WR<1>" LOC = "K24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3WRSTRB" LOC = "K26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3WR<2>" LOC = "J25" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3WR<3>" LOC = "J26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4DAT<2>" LOC = "M24" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4DAT<5>" LOC = "M26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4DAT<3>" LOC = "L25" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4DAT<4>" LOC = "L26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4DAT<6>" LOC = "N25" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4DAT<7>" LOC = "N26" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3RD<6>" LOC = "L20" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D3RD<5>" LOC = "L21" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D4CRSV_P<1>" LOC = "M21" |IOSTANDARD = LVDS_25;
NET "D4CRSV_N<1>" LOC = "M23" |IOSTANDARD = LVDS_25;
NET "D1CRSV_P<2>" LOC = "AB5" |IOSTANDARD = LVDS_25;
NET "D1CRSV_N<2>" LOC = "AC4" |IOSTANDARD = LVDS_25;
NET "D1CRSV_P<1>" LOC = "AB4" |IOSTANDARD = LVDS_25;
NET "D1CRSV_N<1>" LOC = "AC3" |IOSTANDARD = LVDS_25;

NET "D1DAT<1>" LOC = "AA4" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1DAT<0>" LOC = "AA3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1DAT<2>" LOC = "Y6" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1DAT<3>" LOC = "Y5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1DAT<6>" LOC = "V7" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1DAT<4>" LOC = "V6" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1DAT<10>" LOC = "U7" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1DAT<9>" LOC = "V3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1DAT<11>" LOC = "V1" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1DAT<8>" LOC = "V5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1DAT<5>" LOC = "W5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;

NET "D1CH<1>" LOC = "U4" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1WR<4>" LOC = "U3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1RDEN" LOC = "U9" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1ARSV<0>" LOC = "U8" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1CH<0>" LOC = "T6" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1TRG_P<7>" LOC = "AB3" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_N<7>" LOC = "AB1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_P<5>" LOC = "AD3" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_N<5>" LOC = "AD1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_P<3>" LOC = "AE2" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_N<3>" LOC = "AE1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_P<1>" LOC = "W2" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_N<1>" LOC = "W1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_P<6>" LOC = "AA2" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_N<6>" LOC = "AA1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_P<4>" LOC = "Y3" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_N<4>" LOC = "Y1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_P<2>" LOC = "U2" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_N<2>" LOC = "U1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_P<0>" LOC = "AC2" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TRG_N<0>" LOC = "AC1" |IOSTANDARD = LVDS_25 |DIFF_TERM = "TRUE";
NET "D1TSTOUT" LOC = "T3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1TSAOUT" LOC = "T1" |IOSTANDARD = LVCMOS18;
NET "D1SMPALL" LOC = "V4" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1CH<2>" LOC = "W3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1WR<5>" LOC = "R7" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1SMP<0>" LOC = "R6" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1RD<1>" LOC = "R2" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1RD<2>" LOC = "R1" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1WR<6>" LOC = "R8" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1WR<7>" LOC = "T8" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1DAT<7>" LOC = "U5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1SMP<2>" LOC = "T4" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1START" LOC = "R10" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1RD<8>" LOC = "T9" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1RD<0>" LOC = "P3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1WR<8>" LOC = "P1" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1WR<3>" LOC = "N6" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1SMP<1>" LOC = "P6" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1RD<4>" LOC = "P5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1SMP<3>" LOC = "R5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1RD<7>" LOC = "N8" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1WR<1>" LOC = "N7" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1SMP<4>" LOC = "R4" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1RD<3>" LOC = "R3" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1CLR" LOC = "R9" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1RD<5>" LOC = "P8" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1WR<2>" LOC = "N5" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1WR<0>" LOC = "N4" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1RD<9>" LOC = "P10" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1RD<6>" LOC = "N9" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1SMP<5>" LOC = "M10" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "D1WR<9>" LOC = "M9" |IOSTANDARD = LVCMOS25 |DRIVE = 6 |SLEW = SLOW;
NET "SLOE" LOC = "AE24" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW |TNM = "TG_SLOE";
NET "FIFOADR<0>" LOC = "AF24" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW |TNM = "TG_FIFOADR";
NET "D4DRSV<9>" LOC = "Y21" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;

# ATR0 hack: GPIO<4> becomes D1SCL
# D1SCL becomes GPIO<4> (disconnected!)
#NET "GPIO<4>" LOC = "AA22" |IOSTANDARD = LVCMOS33;
NET "D1SCL" LOC = "AA22" | IOSTANDARD = I2C | PULLUP;

NET "FIFOADR<1>" LOC = "AF23" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW |TNM = "TG_FIFOADR";
NET "D4SCL" LOC = "W20" |IOSTANDARD = I2C | PULLUP;
NET "D4SDA" LOC = "Y20" |IOSTANDARD = I2C | PULLUP;

# ATR0 hack: GPIO<5> becomes D1SDA
# D1SDA becomes GPIO<5> (disconnected!)
#NET "GPIO<5>" LOC = "AB22" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW;
NET "D1SDA" LOC = "AB22" | IOSTANDARD = I2C | PULLUP;

NET "SLRD" LOC = "AC22" |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = FAST |TNM = "TG_SLRD";
NET "PKTEND" LOC = "AD22" |IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = FAST |TNM = "TG_PKTEND";
NET "SLWR" LOC = "AF22" |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = FAST |TNM = "TG_SLWR";
NET "D3SCL" LOC = "W17" |IOSTANDARD = I2C | PULLUP;
NET "GPIO<3>" LOC = "W18" |IOSTANDARD = LVCMOS33;
NET "D4DDASENSE" LOC = "AA21" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "D4TDASENSE" LOC = "AB21" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "D3SDA" LOC = "Y17" |IOSTANDARD = I2C | PULLUP;
NET "GPIO<2>" LOC = "AA17" |IOSTANDARD = LVCMOS33;
NET "D3DDASENSE" LOC = "U15" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "D3TDASENSE" LOC = "V16" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "BRSV<0>" LOC = "AA19" |IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<1>" LOC = "AB19"|IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<2>" LOC = "W16"|IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<3>" LOC = "Y16"|IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<4>" LOC = "AA18"|IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<5>" LOC = "AB17"|IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<6>" LOC = "Y15"|IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<7>" LOC = "AA16"|IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<8>" LOC = "V14"|IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<9>" LOC = "V15"|IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<10>" LOC = "U13"|IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<11>" LOC = "V13"|IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "D2SDA" LOC = "AB15" |IOSTANDARD = I2C | PULLUP;
NET "D2SCL" LOC = "AA15" |IOSTANDARD = I2C | PULLUP;
NET "FPTRIG_IN" LOC = "AE15" |IOSTANDARD = LVCMOS33;
#NET "sys_reset" LOC = "AF15" | IOSTANDARD = LVCMOS33;
NET "GPIO<1>" LOC = "AB14" |IOSTANDARD = LVCMOS33;
NET "IFCLK" LOC = "AC14" |IOSTANDARD = LVCMOS33 |IN_TERM = UNTUNED_SPLIT_50;

# ATR0 hack: D1SCL becomes GPIO<4>.
#NET "D1SCL" LOC = "AE13" |IOSTANDARD = I2C | PULLUP;
NET "GPIO<4>" LOC = "AE13" | IOSTANDARD = LVCMOS33;

# ATR0 hack: D1SDA becomes GPIO<5>
#NET "D1SDA" LOC = "AF13" |IOSTANDARD = I2C | PULLUP;
NET "GPIO<5>" LOC = "AF13" | IOSTANDARD = LVCMOS33;

NET "GPIO<0>" LOC = "AD14" |IOSTANDARD = LVCMOS33;
NET "PPS_IN" LOC = "AF14" |IOSTANDARD = LVCMOS33;
NET "FD<13>" LOC = "Y12" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW;
NET "FD<14>" LOC = "AA12" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW;
NET "D3DRSV<9>" LOC = "W14" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "FD<15>" LOC = "Y13" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW;
NET "BRSV<12>" LOC = "V12" |IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<13>" LOC = "W12" |IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<14>" LOC = "AB13" |IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<15>" LOC = "AA13" |IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "FD<9>" LOC = "Y11" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW;
NET "FD<10>" LOC = "AA11" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW;
NET "D2DDASENSE" LOC = "V11" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "D2TDASENSE" LOC = "V10" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "FD<11>" LOC = "AA9" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW;
NET "FD<12>" LOC = "AB9" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW;
NET "FD<8>" LOC = "AB11" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW;

NET "FD<0>" LOC = "AD23" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW |TNM = "TG_FD_BUS" |PULLUP;
NET "FD<1>" LOC = "V18" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW |TNM = "TG_FD_BUS" |PULLUP;
NET "FD<2>" LOC = "W19" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW |TNM = "TG_FD_BUS" |PULLUP;
NET "FD<3>" LOC = "AD6" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW |TNM = "TG_FD_BUS" |PULLUP;
NET "FD<4>" LOC = "AF6" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW |TNM = "TG_FD_BUS" |PULLUP;
NET "FD<5>" LOC = "W8" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = SLOW |TNM = "TG_FD_BUS" |PULLUP;
NET "FD<6>" LOC = "W7" |IOSTANDARD = LVCMOS33 |DRIVE = 16 |SLEW = SLOW |TNM = "TG_FD_BUS" |PULLDOWN;
NET "FD<7>" LOC = "AA10" |IOSTANDARD = LVCMOS33 |DRIVE = 16 |SLEW = SLOW |TNM = "TG_FD_BUS" |PULLUP;

NET "BRSV<16>" LOC = "W10" |IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "BRSV<17>" LOC = "W9" |IOSTANDARD = LVCMOS33 |DRIVE = 6 |SLEW = SLOW;
NET "D1DRSV_P<0>" LOC = "AE5" |IOSTANDARD = LVDS_33;
NET "D1DRSV_N<0>" LOC = "AF5" |IOSTANDARD = LVDS_33;
NET "D4DRSV<10>" LOC = "Y9" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "D3DRSV<10>" LOC = "AA8" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "D2DRSV<10>" LOC = "AB7" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "D1DRSV<10>" LOC = "AC6" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "D1DDASENSE" LOC = "AC5" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "D1TDASENSE" LOC = "AD5" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "FLAGA" LOC = "AD4" |IOSTANDARD = LVCMOS33 |TNM = "TG_FLAGS";
NET "FLAGC" LOC = "AF4" |IOSTANDARD = LVCMOS33 |TNM = "TG_FLAGS";
NET "D2DRSV<9>" LOC = "AA7" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "D1DRSV<9>" LOC = "AA6" |IOSTANDARD = LVCMOS33 |DRIVE = 2 |SLEW = QUIETIO;
NET "FLAGD" LOC = "AE3" |IOSTANDARD = LVCMOS33 |TNM = "TG_FLAGS";
NET "FLAGB" LOC = "AF3" |IOSTANDARD = LVCMOS33 |TNM = "TG_FLAGS";

#For PCIE
NET "sys_reset_n" LOC = "AF15" |IOSTANDARD = LVCMOS33 | PULLUP | NODELAY;
NET "sys_clk_p" LOC = "B10";
NET "sys_clk_n" LOC = "A10";

INST pcie/s6_pcie_v1_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i LOC = GTPA1_DUAL_X0Y1;
NET "pci_exp_txp" LOC = "B6";
NET "pci_exp_txn" LOC = "A6";
NET "pci_exp_rxp" LOC = "D7";
NET "pci_exp_rxn" LOC = "C7";

NET "IFCLK" TNM_NET = "TG_IFCLK";
TIMEGRP "TG_FIFOSEL" = FFS("phy_bridge/fifo_select*");
TIMESPEC "TS_IFCLK" = PERIOD "TG_IFCLK" 20.83 ns;

# All of these setup times from Cypress are bullshit. We'll shave 3 ns off the worst ones (SLRD/SLWR).
# (this means we ADD 3 ns)
# Flags are out 9.5 ns after IFCLK, so they need to be in 11.33 ns before next IFCLK
TIMEGRP "TG_FLAGS" OFFSET = IN 11.33 ns BEFORE "IFCLK" RISING;
TIMESPEC "TS_IGNORE_TO_FIFOSEL" = FROM "TG_FLAGS" TO "TG_FIFOSEL" TIG;
# Data is out 11 ns after IFCLK, so they need to be in 9.83 ns before next IFCLK
TIMEGRP "TG_FD_BUS" OFFSET = IN 9.83 ns BEFORE "IFCLK" RISING;
# Setup time is 9.2 ns before next IFCLK, so they need to be out 11.63 ns after IFCLK
TIMEGRP "TG_FD_BUS" OFFSET = OUT 11.63 ns AFTER "IFCLK" RISING;
# Setup time is 18.7 ns before next IFCLK, so they need to be out 2.13 ns after IFCLK
TIMEGRP "TG_SLRD" OFFSET = OUT 5.23 ns AFTER "IFCLK" RISING;
# Setup time is 18.1 ns before next IFCLK, so they need to be out 2.73 ns after IFCLK
TIMEGRP "TG_SLWR" OFFSET = OUT 5.73 ns AFTER "IFCLK" RISING;
# Setup time is 14.3 ns before next IFCLK, so they need to be out 6.53 ns after IFCLK
TIMEGRP "TG_FIFOADR" OFFSET = OUT 6.53 ns AFTER "IFCLK" RISING;
# Setup time is 14.6 ns before next IFCLK, so they need to be out 6.23 ns after IFCLK
TIMEGRP "TG_PKTEND" OFFSET = OUT 6.23 ns AFTER "IFCLK" RISING;
# This isn't really important, since SLOE has a full clock on turn on/off.
TIMEGRP "TG_SLOE" OFFSET = OUT 11.33 ns AFTER "IFCLK" RISING;
#Created by Constraints Editor (xc6slx150t-fgg676-3) - 2012/09/26
NET "FPGA_REFCLK_P" TNM_NET = FPGA_REFCLK_P;
TIMESPEC TS_FPGA_REFCLK_P = PERIOD "FPGA_REFCLK_P" 10 ns HIGH 50%;


##For PCIE:
##
## Ignore timing on asynchronous signals.
##
NET sys_reset_n TIG;
##
## Timing requirements and related constraints.
##
NET pcie/sys_clk_c PERIOD = 10ns;
#
#NET pcie/s6_pcie_v1_4_i/gt_refclk_out(0) TNM_NET = GT_REFCLK_OUT;
#TIMESPEC TS_GT_REFCLK_OUT = PERIOD GT_REFCLK_OUT 10ns HIGH 50 % ;
#Created by Constraints Editor (xc6slx150t-fgg676-2) - 2015/10/12
NET "pcie/s6_pcie_v1_4_i/gt_refclk_out<0>" TNM_NET = pcie/s6_pcie_v1_4_i/gt_refclk_out<0>;
TIMESPEC TS_PCIE_pcie_s6_pcie_v1_4_i_gt_refclk_out_0_ = PERIOD "pcie/s6_pcie_v1_4_i/gt_refclk_out<0>" 10 ns HIGH 50%;


